@page "/"
@attribute [Authorize]

<div Class="rz-p-0 rz-p-md-6">
    @if (_displayRealtime == null || _displayRealtime.Count <= 0)
    {
        <div class="spinner center-div"></div>
    }
    else
    {
        <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Start">
            @foreach (var item in _displayRealtime)
            {
                <RadzenColumn SizeXS="12" SizeMD="3">
                    @if (item.ConnectionStatus == 1 && item.Alarm == 0 && item.Status == 1 && item.DoorStatus == 1)
                    {
                        <RadzenCard Varian="Varian.Filled" class="rz-background-color-info-light rz-shadow-0 rz-border-radius-4 rz-m-0">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
                                <RadzenRow RowGap="0">
                                    <RadzenColumn>
                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center">
                                            <RadzenText TextStyle="TextStyle.H6" class=""><strong>@item.OvenName</strong></RadzenText>
                                        </RadzenStack>
                                    </RadzenColumn>
                                    <RadzenColumn>
                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center">
                                            <RadzenText TextStyle="TextStyle.H6" class=""><strong> @(Convert.ToDateTime(item.BeginTime).ToString("HH:mm"))</strong></RadzenText>
                                        </RadzenStack>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow RowGap="0">
                                    <RadzenColumn SizeXS="12" SizeSM="4">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Nhiệt độ (oC)</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><b>@item.Temperature</b></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="4">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Bước</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><strong>@item.ProfileStepNumber_CurrentStatus</strong></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeSM="4">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cửa lò</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.DoorStatus == 1 ? "Đóng" : "Mở")</b></RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Trạng thái</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.Status == 1 ? "Chạy" : "Dừng")</b></RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2" Visible=@(item.Alarm==1||item.DoorStatus==0||item.ConnectionStatus==0?true:false)>
                                    <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cảnh báo</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.AlarmDescription</b></RadzenText>
                                </RadzenStack>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                                    <RadzenButton Click=@(args => OnClickOffSerien(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Tắt còi" Icon="volume_off" ButtonStyle="ButtonStyle.Dark"
                                                  Visible=@(item.SerienStatus==1?true:false) />
                                    <RadzenButton Click=@(args => OnClick(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Chi tiết" Icon="info" ButtonStyle="ButtonStyle.Dark" />
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    }
                    else  @if (item.ConnectionStatus == 1 && item.Alarm == 0 && item.Status == 0)
                    {
                        <RadzenCard Varian="Varian.Filled" class="rz-background-color-base-600 rz-shadow-0 rz-border-radius-4 rz-m-0">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
                                <RadzenText TextStyle="TextStyle.H6" class=""><strong>@item.OvenName</strong></RadzenText>
                                <RadzenRow RowGap="0">
                                    <RadzenColumn SizeXS="12" SizeSM="6">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Nhiệt độ (oC)</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><b>@item.Temperature</b></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeSM="6">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cửa lò</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.DoorStatus == 1 ? "Đóng" : "Mở")</b></RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Trạng thái</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.Status == 1 ? "Chạy" : "Dừng")</b></RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2" Visible=@(item.Alarm==1||item.DoorStatus==0||item.ConnectionStatus==0?true:false)>
                                    <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cảnh báo</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.AlarmDescription</b></RadzenText>
                                </RadzenStack>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                                    <RadzenButton Click=@(args => OnClickOffSerien(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Tắt còi" Icon="volume_off" ButtonStyle="ButtonStyle.Dark"
                                                  Visible=@(item.SerienStatus==1?true:false) />
                                    <RadzenButton Click=@(args => OnClick(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Chi tiết" Icon="info" ButtonStyle="ButtonStyle.Dark" />
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    }
                    else if (item.ConnectionStatus == 1 && (item.Alarm == 1 || (item.DoorStatus == 0 && item.Status == 1)))
                    {
                        <RadzenCard Varian="Varian.Filled" class="rz-background-color-warning-light rz-shadow-0 rz-border-radius-4 rz-m-0">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
                                <RadzenRow RowGap="0">
                                    <RadzenColumn>
                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center">
                                            <RadzenText TextStyle="TextStyle.H6" class=""><strong>@item.OvenName</strong></RadzenText>
                                        </RadzenStack>
                                    </RadzenColumn>
                                    <RadzenColumn>
                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center">
                                            <RadzenText TextStyle="TextStyle.H6" class=""><strong> @(Convert.ToDateTime(item.BeginTime).ToString("HH:mm"))</strong></RadzenText>
                                        </RadzenStack>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow RowGap="0">
                                    <RadzenColumn SizeXS="12" SizeSM="4">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Nhiệt độ (oC)</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><b>@item.Temperature</b></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="4">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Bước</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><strong>@item.ProfileStepNumber_CurrentStatus</strong></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeSM="4">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cửa lò</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.DoorStatus == 1 ? "Đóng" : "Mở")</b></RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Trạng thái</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.Status == 1 ? "Chạy" : "Dừng")</b></RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2" Visible=@(item.Alarm==1||item.DoorStatus==0||item.ConnectionStatus==0?true:false)>
                                    <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cảnh báo</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.AlarmDescription</b></RadzenText>
                                </RadzenStack>

                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                                    <RadzenButton Click=@(args => OnClickOffSerien(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Tắt còi" Icon="volume_off" ButtonStyle="ButtonStyle.Dark"
                                                  Visible=@(item.SerienStatus==1?true:false) />
                                    <RadzenButton Click=@(args => OnClick(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Chi tiết" Icon="info" ButtonStyle="ButtonStyle.Dark" />
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    }
                    else if (item.ConnectionStatus == 0)
                    {
                        <RadzenCard Varian="Varian.Filled" class="rz-background-color-danger-light rz-shadow-0 rz-border-radius-4 rz-m-0">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
                                <RadzenText TextStyle="TextStyle.H6" class=""><strong>@item.OvenName</strong></RadzenText>
                                <RadzenRow RowGap="0">
                                    <RadzenColumn SizeXS="12" SizeSM="6">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Nhiệt độ (oC)</RadzenText>
                                        <RadzenText TextStyle="TextStyle.DisplayH5" class=""><b>@item.Temperature</b></RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeSM="6">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cửa lò</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.DoorStatus == 1 ? "Đóng" : "Mở")</b></RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn SizeXS="12" SizeSM="6">
                                                <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Trạng thái</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@(item.Status == 1 ? "Chạy" : "Dừng")</b></RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2" Visible=@(item.Alarm==1||item.DoorStatus==0||item.ConnectionStatus==0?true:false)>
                                    <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-0 rz-mb-0">Cảnh báo</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.AlarmDescription</b></RadzenText>
                                </RadzenStack>

                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End"
                                             Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                                    <RadzenButton Click=@(args => OnClickOffSerien(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Tắt còi" Icon="volume_off" ButtonStyle="ButtonStyle.Dark"
                                                  Visible=@(item.SerienStatus==1?true:false) />
                                    <RadzenButton Click=@(args => OnClick(item.OvenId,item.OvenName)) Variant="Variant.Flat" Shade="Shade.Dark"
                                                  Text="Chi tiết" Icon="info" ButtonStyle="ButtonStyle.Dark" />
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    }
                </RadzenColumn>
            }
        </RadzenRow>
    }
</div>