@page "/"
@attribute [Authorize]

@if (_displayRealtime == null)
{
    <div class="spinner center-div"></div>
}
else
{
    <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Start">
        @foreach (var item in _displayRealtime)
        {
            <RadzenColumn SizeSM="4">
                <RadzenCard Varian="Varian.Filled" class="rz-shadow-0 rz-border-radius-4 rz-m-0" >
                    <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
                        <RadzenText TextStyle="TextStyle.H6" class=""><strong>@item.OvenName</strong></RadzenText>
                        <RadzenRow RowGap="0">
                            <RadzenColumn SizeSM="12">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Nhiệt độ (oC)</RadzenText>
                                <RadzenText TextStyle="TextStyle.DisplayH3" class=""><b>@item.Temperature</b></RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow RowGap="0">
                            <RadzenColumn SizeSM="4">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Cửa lò</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.Door</b></RadzenText>
                            </RadzenColumn>
                            <RadzenColumn SizeSM="4">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Trạng thái lò</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.Status</b></RadzenText>
                            </RadzenColumn>
                            <RadzenColumn SizeSM="4">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Trạng thái kết nối</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1" class=""><b>@item.ConectionStatus</b></RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0" class="rz-mt-4">
                        <RadzenButton Variant="Variant.Text" Text="Chi tiết" />
                    </RadzenStack>
                </RadzenCard>
            </RadzenColumn>
        }
    </RadzenRow>
}