@page "/settings"
@using GiamSat.Models
@attribute [Authorize(Roles = "Admin")]

<div Class="rz-p-0 rz-p-md-12">
    @if (_configInfo == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <RadzenTemplateForm Data="@_configInfo" Submit="@((ConfigModel args) => { Submit(args); })">
            <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
                <RadzenColumn SizeXS="12" SizeMD="12">
                    <RadzenStack>
                        <RadzenFieldset Text="Thông tin chung">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    @*  <RadzenColumn SizeXS="12" SizeMD="4">
                                <RadzenLabel Text="DeadbandAlarm (ms)" Component="DeadbandAlarm" />
                                </RadzenColumn> *@

                                    <RadzenColumn SizeXS="12" SizeMD="2">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">Dấu thập phân</RadzenText>
                                        <RadzenNumeric Placeholder="0.0" Step="0.1" @bind-Value=@_configInfo.Gain TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>

                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">TG log bình thường (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.DataLogInterval TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">TG log khi chạy profile (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.DataLogWhenRunProfileInterval TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>

                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">TG cập nhật Realtime (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.DisplayRealtimeInterval TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">TG check trạng thái chạy/dừng (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.CountSecondStop TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">NĐ dung sai bật cảnh báo (oC)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.ToleranceTemp TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">NĐ dung sai tắt cảnh báo (oC)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.ToleranceTempOut TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
                <RadzenColumn SizeXS="12" SizeMD="12">
                    <RadzenStack>
                        <RadzenFieldset Text="UI">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">RefreshInterval (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.RefreshInterval TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">ChartRefreshInterval (ms)</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.ChartRefreshInterval TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS="12" SizeMD="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">ChartPointNum</RadzenText>
                                        <RadzenNumeric @bind-Value=@_configInfo.ChartPointNum TextAlign="TextAlign.Right"
                                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width:100%" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn SizeXS=12 SizeSM="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">Chart-Smooth</RadzenText>
                                        <RadzenCheckBox @bind-Value=@_configInfo.Smooth Name="Smooth" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS=12 SizeSM="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">Chart-ShowDataLabels</RadzenText>
                                        <RadzenCheckBox @bind-Value=@_configInfo.ShowDataLabels Name="ShowDataLabels" Style="width:100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeXS=12 SizeSM="3">
                                        <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-4 rz-mb-0">Chart-ShowMarkers</RadzenText>
                                        <RadzenCheckBox @bind-Value=@_configInfo.ShowMarkers Name="ShowMarkers" Style="width:100%" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                <RadzenButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
                @* <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" /> *@
            </RadzenStack>
        </RadzenTemplateForm>
    }
</div>
