@page "/admin/users"
@page "/usersmanager"
@using GiamSat.Models
@attribute [Authorize(Roles = UserRoles.Admin)]

<div Class="rz-p-0 rz-p-md-12">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="Danh sách users">
                    <RadzenStack Orientation=Orientation.Vertical Gap="1rem">
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                            <RadzenButton Text="Thêm user" Icon="person_add" Click="AddNewItem" ButtonStyle="ButtonStyle.Success" />
                        </RadzenStack>
                        <RadzenDataGrid @ref="_profileGrid" AllowFiltering="false"
                                        AllowPaging="true" PageSize="5" AllowSorting="true"
                                        Data="@_users" TItem="APIClient.IdentityUserDto"
                                        ShowPagingSummary=@_showPagerSummary 
                                        PagingSummaryFormat="Trang {0} / {1} (Tổng {2} bản ghi)" 
                                        PageSizeText="Bản ghi trên trang"
                                        PageSizeOptions="@_pageSizeOptions">
                            <Columns>
                                <RadzenDataGridColumn TItem="APIClient.IdentityUserDto" Property="UserName" Title="Tên" />
                                <RadzenDataGridColumn TItem="APIClient.IdentityUserDto" Property="Email" Title="Email" />
                                <RadzenDataGridColumn TItem="APIClient.IdentityUserDto" Title="Role" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                    <Template Context="data">
                                        @string.Join(", ", data.Roles)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="APIClient.IdentityUserDto" Title="Permission" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                    <Template Context="data">
                                        @string.Join(", ", data.Claims)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="APIClient.IdentityUserDto" Title="Thao tác" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="160px">
                                    <Template Context="data">
                                        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.3rem">
                                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="manage_accounts" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Small" class="my-1" Click="@(args => EditUserRoles(data))" @onclick:stopPropagation="true"
                                                          title="Đổi role" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Small" class="my-1 ms-1" Click="@(args => DeleteItem(data.Id, data.UserName))" @onclick:stopPropagation="true" />
                                        </RadzenStack>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>
