@page "/usersmanager"
@using GiamSat.Models
@attribute [Authorize(Roles = "Admin")]

<div Class="rz-p-0 rz-p-md-12">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="Danh sách users">
                    <RadzenStack Orientation=Orientation.Vertical Gap="1rem">
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"
                                     Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-mt-2">
                            <RadzenButton Click=@(args => AddNewItem()) Variant="Variant.Flat" Shade="Shade.Dark"
                                          Text="Thêm user" Icon="add_circle" ButtonStyle="ButtonStyle.Dark" />
                        </RadzenStack>
                        <RadzenDataGrid @ref="_profileGrid" AllowFiltering="true" 
                                        FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="5" AllowSorting="true"
                                        Data="@_users" TItem="Models.UserModel"
                                        ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@_pagingSummaryFormat" PageSizeOptions="@_pageSizeOptions">
                            <Columns>
                                @* <RadzenDataGridColumn TItem="Models.UserModel" Property="Id" Title="Id" /> *@
                                <RadzenDataGridColumn TItem="Models.UserModel" Property="UserName" Title="Tên" />
                                @* <RadzenDataGridColumn TItem="Models.UserModel" Property="Roles" Title="Email" /> *@
                                <RadzenDataGridColumn TItem="Models.UserModel" Title="Phân quyền" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                    <Template Context="data">
                                        @foreach (var item in data.Roles)
                                        {
                                            @(""+item+",")
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Models.UserModel" Filterable="false" Sortable="true" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                    <Template Context="data">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                      Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteItem(data.Id,data.UserName))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        @* <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(() => OpenProfile(data.Id)) Text="@data.Id.ToString()">@data.Steps.Count</RadzenButton> *@
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>
